---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

I have been an <a href="https://www.advance-he.ac.uk/fellowship/associate-fellowship">Associate Fellow of Advance HE (AFHEA)</a> since February 2024. I am also an ambassador of the MSc Statistics programme at Imperial College London, in recognition of outstanding contributions to the running and delivery of the programme.
<br>
Below is a list of undergraduate & postgraduate courses in which I have been actively involved as a (Senior) Graduate Teaching Assistant (GTA) or as a marker at Imperial College London.

{% for post in site.teaching %}
<h2>{{ post.title }}</h2>

<!-- Display the venue and date (optional) -->
<p><i>{{ post.venue }}</i></p>

<!-- Display the content of the markdown file -->
<div>
  {{ post.content }}
</div>
{% endfor %}
