---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

<script>
  // Toggle visibility of the abstract section
  function toggleAbstract(id) {
    var abstractElement = document.getElementById(id);
    var citationElement = document.getElementById('citation' + id.replace('abstract', '')); // Get the associated citation element

    // Show abstract and hide citation
    if (abstractElement.style.display === "none") {
      abstractElement.style.display = "block";
      citationElement.style.display = "none"; // Hide the citation if it's visible
    } else {
      abstractElement.style.display = "none";
    }
  }

  // Toggle visibility of the BibTeX citation
  function toggleCitation(id) {
    var citationElement = document.getElementById(id);
    var abstractElement = document.getElementById('abstract' + id.replace('citation', '')); // Get the associated abstract element

    // Show citation and hide abstract
    if (citationElement.style.display === "none") {
      citationElement.style.display = "block";
      abstractElement.style.display = "none"; // Hide the abstract if it's visible
    } else {
      citationElement.style.display = "none";
    }
  }
</script>
